/*styles.css*/

.welcome {
    font-size: 42px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #a2a2a2;
}

.link {
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #20a0cf;
}